#main-wrapper {
  background-color: #fff;
  padding: 40px 40px;
}
#page {
  background-color: #f1f1f1 !important;
}
.user-login-form .form-required {
  display: none !important;
}
.blue-border-top {
  border-top: 7px solid #003567;
}
#block-userlogin,
#block-registeraccount,
#block-authorizedpartner {
  background-color: #f1f1f1;
  padding: 19px 30px;
  margin-bottom: 15px;
}
#block-userlogin h1 {
  font-weight: 600;
  font-size: 34px;
}
#block-registeraccount h3 {
  font-weight: 600;
}
.form-control {
  border-radius: 0px !important;
}
.login-hr {
  border-color: #97999b;
}
h1 {
  font-size: 34px;
}

.login-hr {
  border-color: #97999b;
}
h3 {
  font-size: 20px;
}
.btn-primary {
  color: #fff;
  background-color: #961919;
  border-color: #801515;
  border-bottom-color: rgb(128, 21, 21);
}
#block-authorizedpartner h3 {
  font-weight: 600;
}
.partner-front-page .logo-front {
  flex: 7;
}
.verticle-line {
  width: 1px;
  height: 100px;
  background-color: #003567;
}
.partner-front-page {
  display: flex;
  align-items: center;
}
.partner-front-page div {
  flex: 1;
  margin: 0 auto;
}
.partner-front-page h1 {
  flex: 3;
}
h1,
h2,
h3 {
  margin-top: 13px;
  margin-bottom: 13px;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.site-footer {
  background: #003a70 !important;
}
.region-footer-fourth h5 {
  color: #d30015;
  font-family: inherit;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 18px;
  padding: 0px;
}
.region-footer-fourth a {
  color: #f5f6f7 !important;
  font-size: 16px;
}
.site-footer__top .content li a {
  border-bottom: none !important;
}
h5 {
  letter-spacing: 0 !important;
}
.menu-item.social {
  display: inline-block;
}
ul.social-media li a i {
  background: #205d7a;
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  font-size: 18px;
  text-align: center;
  margin-right: 10px;
  padding-top: 8px;
  text-indent: 0;
}
ul.social-media li a i.fa-facebook-f {
  background: #3b5998;
}
ul.social-media li a i.fa-twitter {
  background: #0177b5;
}
li a i.fa-linkedin-in {
  background: #45b0e3 !important;
}
li a i.fa-youtube {
  background: #d32323 !important;
}
#block-copyright p {
  font-size: 13px;
  color: #f5f6f7 !important;
  text-align: center;
}
.site-footer__bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
  letter-spacing: 0px !important;
}
.site-footer__top .content li a {
  padding: 0.8em 2px 0.1em 20px !important;
}
