#main-wrapper {
  background-color: #fff;
  padding: 40px 40px;
}
#page {
  background-color: #f1f1f1 !important;
}
.user-login-form .form-required {
  display: none !important;
}
.blue-border-top {
  border-top: 7px solid #003567;
}
#block-userlogin,
#block-registeraccount,
#block-authorizedpartner {
  background-color: #f1f1f1;
  padding: 19px 30px;
  margin-bottom: 15px;
}
#block-userlogin h1 {
  font-weight: 600;
  font-size: 34px;
}
#block-registeraccount h3 {
  font-weight: 600;
}
.form-control {
  border-radius: 0px !important;
}
.login-hr {
  border-color: #97999b;
}
h1 {
  font-size: 34px;
}

.login-hr {
  border-color: #97999b;
}
h3 {
  font-size: 20px;
}
.btn-primary {
  color: #fff;
  background-color: #961919;
  border-color: #801515;
  border-bottom-color: rgb(128, 21, 21);
}
#block-authorizedpartner h3 {
  font-weight: 600;
}
.partner-front-page .logo-front {
  flex: 7;
}
.verticle-line {
  width: 1px;
  height: 100px;
  background-color: #003567;
}
.partner-front-page {
  display: flex;
  align-items: center;
}
.partner-front-page div {
  flex: 1;
  margin: 0 auto;
}
.partner-front-page h1 {
  flex: 3;
}
h1,
h2,
h3 {
  margin-top: 13px;
  margin-bottom: 13px;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.site-footer {
  background: #003a70 !important;
}
.region-footer-fourth h5 {
  color: #d30015;
  font-family: inherit;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 18px;
  padding: 0px;
}
.region-footer-fourth a {
  color: #f5f6f7 !important;
  font-size: 16px;
}
.site-footer__top .content li a {
  border-bottom: none !important;
}
h5 {
  letter-spacing: 0 !important;
}
.menu-item.social {
  display: inline-block;
}
ul.social-media li a i {
  background: #205d7a;
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  font-size: 18px;
  text-align: center;
  margin-right: 10px;
  padding-top: 8px;
  text-indent: 0;
}
ul.social-media li a i.fa-facebook-f {
  background: #3b5998;
}
ul.social-media li a i.fa-twitter {
  background: #0177b5;
}
li a i.fa-linkedin-in {
  background: #45b0e3 !important;
}
li a i.fa-youtube {
  background: #d32323 !important;
}
#block-copyright p {
  font-size: 13px;
  color: #f5f6f7 !important;
  text-align: center;
}
.site-footer__bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
  letter-spacing: 0px !important;
}
.site-footer__top .content li a {
  padding: 0.8em 2px 0.1em 20px !important;
}
#sidebar-first {
  background-color: #f1f1f1;
  padding: 0 30px 30px;
}
.sidebar .block {
  border-color: #f1f1f1 !important;
  background-color: #f1f1f1 !important;
}
.sidebar .section {
  padding: 0 !important;
}
.sidebar .block {
  margin: 0 !important;
  padding: 0 !important;
}
.block-menu h2.title {
  margin-top: 30px;
  margin-bottom: 0.25em;
  font-weight: bold;
  font-size: 24px;
}
.layout-main {
  margin-top: 0px !important;
}
.sidebar h2 {
  border-bottom: none !important;
}
ul.menu {
  padding: 0 !important;
}
.region-sidebar-first a {
  color: #222;
  border-bottom: none;
}
.container {
  max-width: 1200px;
}
.main-content .section {
  padding-left: 40px !important;
  padding-right: 0 !important;
}
a:hover,
a:focus {
  color: #961919 !important;
  text-decoration: none;
}
.site-footer__top .content li a:hover,
.site-footer__top .content li a:focus {
  background: none !important;
}
.site-footer .content {
  font-size: 16px !important;
}
.site-footer__top .content li a {
  line-height: 1.6 !important;
}
.site-footer__top .content li a {
  padding: 0 2px 0.1em 20px !important;
}
@media (min-width: 851px) {
  .layout-container {
    max-width: 1200px !important;
  }
}
@media (min-width: 768px) {
  #block-userlogin {
    max-width: 31% !important;
  }
}
.region-header {
  padding: 0 !important;
  padding: 3px 40px !important;
  background-color: #fff;
}
#header {
  background: none !important;
}
.site-branding__logo img {
  height: 65px !important;
}

.region-header a {
  color: #333 !important;
}
.region-header .block-menu {
  width: auto !important;
}
.region-header .block-menu li a {
  font-size: 16px;
  padding: 12px 7px !important;
}
