{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}
{% 
set ul_class = [
    'menu',
    'social-media',
    'inline-block'
]
%}
{% macro menu_links(items, attributes, menu_level) %}
	{% import _self as menus %}
	{% if items %}
		<ul class="menu social-media">
			{% for item in items %}
				{%
        set classes = [
          'menu-item',
          'social',
          item.title
        ]
      %}
				<li{{item.attributes.addClass(classes)}}>
					{% if item.title == 'mail' %}
						{% set title = item.title|replace({'mail': '<i class="far fa-envelope"></i>'}) %}
					{% elseif item.title == 'facebook' %}
						{% set title = item.title|replace({'facebook': '<i class="fab fa-facebook-f"></i>'}) %}
					{% elseif item.title == 'twitter' %}
						{% set title = item.title|replace({'twitter': '<i class="fab fa-twitter"></i>'}) %}
					{% endif %}
					{% set link_text %}{{ title|raw }}{% endset %}
					{{ link(link_text, item.url) }}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}
